<div id="forum_move_topics_when_locked_options">
	<fieldset>
		<legend>{{ lang('MOVE_TOPICS_WHEN_LOCKED') }}</legend>
		<dl>
			<dt><label for="move_topics_when_locked">{{ lang('MOVE_TOPICS') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="move_topics_when_locked" value="1"{{ S_MOVE_TOPICS ? ' id="move_topics_when_locked" checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="move_topics_when_locked" value="0"{{ not S_MOVE_TOPICS ? ' id="move_topics_when_locked" checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="move_topics_when_locked_solved">{{ lang('MOVE_TOPICS_SOLVED') ~ lang('COLON') }}</label><br>
				{% if MOVE_TOPICS_SOLVED_DISABLED %}
					<span style="color:red">{{ MOVE_TOPICS_SOLVED_DISABLED }}</span>
				{% elseif MOVE_TOPICS_SOLVED_VERSION %}
					<span style="color:red">{{ MOVE_TOPICS_SOLVED_VERSION }}</span>
				{% elseif MOVE_TOPICS_SOLVED_ENABLED %}
					<span style="color:green">{{ MOVE_TOPICS_SOLVED_ENABLED }}</span>
				{% endif %}
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="move_topics_when_locked_solved" value="1"{{ S_MOVE_TOPICS_SOLVED ? ' id="move_topics_when_locked_solved" checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="move_topics_when_locked_solved" value="0"{{ not S_MOVE_TOPICS_SOLVED ? ' id="move_topics_when_locked_solved" checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="move_topics_when_locked_auto">{{ lang('MOVE_AUTO_LOCK') ~ lang('COLON') }}</label><br>
				{% if MOVE_AUTO_LOCK_DISABLED %}
					<span style="color:red">{{ MOVE_AUTO_LOCK_DISABLED }}</span>
				{% elseif MOVE_AUTO_LOCK_VERSION %}
					<span style="color:red">{{ MOVE_AUTO_LOCK_VERSION }}</span>
				{% elseif MOVE_AUTO_LOCK_ENABLED %}
					<span style="color:green">{{ MOVE_AUTO_LOCK_ENABLED }}</span>
				{% endif %}
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="move_topics_when_locked_auto" value="1"{{ S_MOVE_AUTO_LOCK ? ' id="move_topics_when_locked_auto" checked="checked"' }}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="move_topics_when_locked_auto" value="0"{{ not S_MOVE_AUTO_LOCK ? ' id="move_topics_when_locked_auto" checked="checked"' }}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="move_topics_when_locked_to">{{ lang('MOVE_TOPICS_TO') ~ lang('COLON') }}</label></dt>
			<dd>
				<select id="move_topics_when_locked_to" name="move_topics_when_locked_to">{{ S_MOVE_TOPICS_TO_OPTIONS }}</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="move_topics_when_locked_subforums">{{ lang('MOVE_TOPICS_APPLY_TO_SUBFORUMS') ~ lang('COLON') }}</label><br><span>{{ lang('MOVE_TOPICS_APPLY_TO_SUBFORUMS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="move_topics_when_locked_subforums" value="1"> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="move_topics_when_locked_subforums" value="0" id="move_topics_when_locked_subforums" checked="checked"> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
</div>
